<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hbi.core.grid.mapper.GridDemoMapper">
    <resultMap id="BaseResultMap" type="hbi.core.grid.dto.GridDemo">
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="AGE" property="age" jdbcType="DECIMAL"/>
        <result column="POSITION_ID" property="positionId" jdbcType="VARCHAR"/>
        <result column="POSITION_NAME" property="positionName" jdbcType="VARCHAR"/>
        <result column="SEX" property="sex" jdbcType="VARCHAR"/>
        <result column="BIRTH" property="birth" />
    </resultMap>

    <select id="selectUsersOption" resultMap="BaseResultMap" parameterType="hbi.core.grid.dto.GridDemo">
        SELECT NAME, AGE,
        FROM hap_grid_demo
        <where> 1=1
            <if test="name!=null">
                AND NAME =#name
            </if>
            <if test="AGE!=null">
                AND AGE =#age
            </if>
        </where>
    </select>
</mapper>